<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pengniao.rdpm.system.mapper.AdministratorMapper">

    <resultMap type="TUser" id="userResult">
        <id property="userId" column="userId"/>
        <id property="enterpriseId" column="enterpriseId"/>
        <id property="loginName" column="loginName"/>
        <id property="password" column="password"/>
        <id property="userName" column="userName"/>
        <id property="mobile" column="mobile"/>
        <id property="email" column="email"/>
        <id property="createTime" column="createTime"/>
        <id property="isAdmin" column="isAdmin"/>
        <id property="isUse" column="isUse"/>
        <id property="noEncryPassword" column="noEncryPassword"/>
        <association property="enterprise"  column="enterpriseId" select="com.pengniao.rdpm.system.mapper.EnterpriseMapper.getEnterpriseById"/>
    </resultMap>

    <select id="getAdministrator" resultMap="userResult">
        SELECT userId,enterpriseId,loginName,password,userName,mobile,email,createTime,isAdmin,isUse,noEncryPassword
        FROM TUser WHERE isAdmin = 0
        ORDER BY createTime DESC LIMIT
        #{startRow,jdbcType=INTEGER},#{limit,jdbcType=INTEGER}
    </select>

    <select id="queryAdministratorCount"  resultType="java.lang.Integer">
        SELECT COUNT(userId) FROM TUser WHERE isAdmin = 0
    </select>

    <select id="getAdministratorByEnterpriseId"  resultMap="userResult" parameterType="String">
         SELECT userId,enterpriseId,loginName,password,userName,mobile,email,createTime,isAdmin,isUse,noEncryPassword
         FROM TUser WHERE isAdmin = 0 AND isUse = 0 AND enterpriseId = #{enterpriseId}
    </select>

    <insert id="addAdministrator" parameterType="com.pengniao.rdpm.entity.TUser">
		INSERT INTO TUser(userId,enterpriseId,loginName,password,userName,mobile,email,createTime,isAdmin,isUse,noEncryPassword)
		VALUES(#{userId},#{enterpriseId},#{loginName},#{password},#{userName},#{mobile},#{email},#{createTime},#{isAdmin},#{isUse},#{noEncryPassword})
	</insert>

    <select id="getAdministratorById"  resultMap="userResult" parameterType="String">
         SELECT userId,enterpriseId,loginName,password,userName,mobile,email,createTime,isAdmin,isUse,noEncryPassword
         FROM TUser WHERE  userId = #{userId}
    </select>

    <update id="updateAdministrator" parameterType="com.pengniao.rdpm.entity.TUser">
		UPDATE TUser SET userName=#{userName},mobile=#{mobile},email=#{email}
		WHERE userId = #{userId}
	</update>

    <delete id="deleteAdministratorById" parameterType="String">
        DELETE FROM TUser WHERE userId=#{userId}
    </delete>

    <update id="updateAdministratorIsUse" >
		UPDATE TUser SET isUse=#{isUse}
		WHERE userId = #{userId}
	</update>


</mapper>