<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>企业管理员</title>
    <link rel="stylesheet" type="text/css" th:href= "@{/layui/css/layui.css}"  />
    <link rel="stylesheet" type="text/css" th:href= "@{/css/admin.css}" />
    <link rel="stylesheet" type="text/css" th:href= "@{/jqGrid/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href= "@{/jqGrid/css/ui.jqgrid-bootstrap.css}" />
    <link rel="stylesheet" type="text/css"  th:href= "@{/css/loading.css}" >
    <link rel="stylesheet" type="text/css"  th:href= "@{/css/iconfont.css}" >

    <script type="text/javascript" th:src="@{/js/jquery-1.11.1.js}"></script>
    <script type="text/javascript" th:src="@{/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
    <script type="text/javascript" th:src="@{/jqGrid/js/i18n/grid.locale-cn.js}"  ></script>
    <script type="text/javascript" th:src="@{/jqGrid/js/jquery.jqGrid.min.js}" ></script>
    <script type="text/javascript" th:src="@{/js/div-resize.js}"></script>
    <script type="text/javascript" th:src="@{/miniDialog/MiniDialog.js}"></script>
    <script type="text/javascript" th:src="@{/jqGrid/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="containerPen">
    <div class="loading">
        <div class="slice">
            <div data-loader="circle-side"></div>
        </div>
    </div>
</div>
<div class="jsplite_main_right">
    <div class="page-content-wrap">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <div style="float: left;">
                    <div class="layui-inline tool-btn">
                        <div class="btn-group" role="group" aria-label="...">
                            <button id="addAdministrators" type="button" class="btn btn-default"><i class="layui-icon">&#xe654;</i><span class="cus-buttongroup-fontsize">新增</span></button>
                            <button id="updateAdministrators" type="button" class="btn btn-default"><i class="layui-icon">&#xe642;</i><span class="cus-buttongroup-fontsize">修改</span></button>
                            <button id="deleteAdministrator" type="button" class="btn btn-default"><i class="layui-icon">&#xe640;</i><span class="cus-buttongroup-fontsize">删除</span></button>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button id="assignmentRrght" type="button" class="opt-button">
                            <i class="iconfont icon-shouquan"></i><span class="cus-buttongroup-fontsize">权限</span>
                        </button>
                        <button id="updateIsUse" type="button" class="opt-button">
                            <i class="iconfont icon-qiyongtingyong"></i><span class="cus-buttongroup-fontsize">启用|停用</span>
                        </button>
                        <button id="initPwd" type="button" class="opt-button">
                            <i class="iconfont icon-chushimima"></i><span class="cus-buttongroup-fontsize">初始化密码</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <div class="layui-form" id="table-list">
            <table id="jqGrid"></table>
            <div id="jqGridPager"></div>
        </div>
    </div>
    <div id="cd-shadow-layer"></div>


</div>
</body>

<script>
    $(window).load(function() {
        $('.containerPen').hide();
    });

    //监听div大小变化事件，自适应屏幕宽度
    $(".jsplite_main_right").resize(function() {
        $("#jqGrid").setGridWidth($(".jsplite_main_right").width() - 30);
        $("#jqGrid").setGridHeight($(window).height() - 180);
    });

    $(document).ready(function() {
        //初始化表格
        $("#jqGrid").jqGrid({
            url: '[[@{/system/administrator/getAdministrator}]]',
            mtype: "POST",
            styleUI: 'Bootstrap',
            datatype: "json",
            colModel: [{
                label: '企业管理员ID',
                name: 'userId',
                key: true,
                width: 75,
                hidden:true
            },
                {
                    label: '企业',
                    name: 'enterprise.enterpriseName',
                    width: 120
                },
                {
                    label: '登录账号',
                    name: 'loginName',
                    width: 80
                },
                {
                    label: '姓名',
                    name: 'userName',
                    width: 80
                },
                {
                    label: '未加密密码',
                    name: 'noEncryPassword',
                    width: 80
                },
                {
                    label: '手机号',
                    name: 'mobile',
                    width: 80
                },
                {
                    label: '电子邮箱',
                    name: 'email',
                    width: 80
                },
                {
                    label: '创建时间',
                    name: 'createTime',
                    width: 60
                },
                {
                    label: '使用状态',
                    name: 'isUse',
                    width: 40,
                    formatter: formatIsUse
                },
                {
                    name: 'isUse',
                    hidden: true
                }
            ],
            altRows: true,//隔行换色
            viewrecords: true,
            shrinkToFit: true, //宽度自适应
            height: $(window).height() - 180,
            width: $(window).width() * 0.98 - 320,
            rowNum:15,
            pager: "#jqGridPager",
            pagerpos: 'left',
            recordpos: 'right'
        });
    });

    /** 功能描述: 格式化 启用| 停用
     * @param null
     * @return:
     * @Author: lj
     * @Date: 2019/10/21 11:17
     */
    function formatIsUse(cellValue, grid, rows, state) {
        if(cellValue == 0){
            return "<span class='layui-badge layui-bg-green '>启用</span>";
        }else{
            return "<span class='layui-badge'>停用</span>";
        }
    }

    /**
     新增企业管理员
     **/
    $('#addAdministrators').click(function() {
        var addDialog = Dialog({
            title: "新增",
            width: 800,
            iframeContent: {
                id: "add-administrator-iframe",
                src: "[[@{/system/administrators/skipPageToAddAdministrators}]]",
                height: $(window).height()-220
            },
            showButton: true,
            ok: {
                notClose: true,
                callback: function () {
                    if($("#add-administrator-iframe")[0].contentWindow.valid()){ //表单元素验证通过
                        dialog_LoadingBtn();//确定按钮置为loading
                        setTimeout(function(){
                            var rtnVal = $("#add-administrator-iframe")[0].contentWindow.submitAccount(); //提交登录账户
                            if(rtnVal.code != "success" ){
                                dialog_ResetBtn();//取消loading,重置确定按钮
                                window.parent.danger(rtnVal.code, rtnVal.msg);//操作失败提示
                            }else{
                                //业务处理
                                reloadGrid(1);//重新加载表格
                                dialog_ResetBtn();//取消loading,重置确定按钮
                                Dialog.close( addDialog );
                                window.parent.success(rtnVal.msg);//操作成功提示
                            }
                        }, 300);
                    }
                }
            }
        });
    })

    /**
     修改企业管理员
     **/
    $('#updateAdministrators').click(function() {

        var rowId = $("#jqGrid").jqGrid("getGridParam","selrow");
        if(rowId == null){
            layer.msg('请选择修改的管理员');
            return false;
        }
        var rowData = $("#jqGrid").jqGrid("getRowData",rowId);
        var updateDialog = Dialog({
            title: "修改",
            width: 800,
            iframeContent: {
                id: "update-administrator-iframe",
                src: "[[@{/system/administrators/skipPageToUpdateAdministrators}]]?userId="+rowData.userId,
                height: $(window).height()-220
            },
            showButton: true,
            ok: {
                notClose: true,
                callback: function () {
                    if($("#update-administrator-iframe")[0].contentWindow.valid()){ // 表单元素验证通过
                        dialog_LoadingBtn();//确定按钮置为loading
                        setTimeout(function(){
                            var rtnVal = $("#update-administrator-iframe")[0].contentWindow.submitForm(); // 提交表单
                            if(rtnVal.code != "success" ){
                                window.parent.danger(rtnVal.code, rtnVal.msg);//操作失败提示
                            }else{
                                //业务处理
                                reloadGrid($("#jqGrid").getGridParam('page'));//重新加载表格
                                Dialog.close(updateDialog);
                                window.parent.success(rtnVal.msg);//操作成功提示
                            }
                        }, 300);
                    }
                }
            }
        });
    })

    /** 功能描述: 删除企业管理员
     * @param null
     * @return:
     * @Author: lj
     * @Date: 2019/10/21 11:00
     */
    $('#deleteAdministrator').click(function() {
        var rowId = $("#jqGrid").jqGrid("getGridParam","selrow");
        if(rowId == null){
            layer.msg('请选择删除的管理员');
            return false;
        }
        var rowData = $("#jqGrid").jqGrid("getRowData",rowId);
        var delDialog = Dialog({
            title: "询问",
            content: "您确认要删除 "+rowData["enterprise.enterpriseName"]+"管理员【"+rowData.loginName+"】 吗？",
            ok: {
                waiting: true,
                waitingText: "删除中",
                callback: function () {
                    $.ajax({
                        type: 'post',
                        async: true,
                        url: "[[@{/system/administrator/deleteAdministrator}]]",
                        data:{
                            "userId":rowData.userId
                        },
                        dataType: "json",
                        timeout: 8000,
                        beforeSend: function() {

                        },
                        complete: function(XMLHttpRequest, status) {
                        },
                        success: function(res) {
                            if(res.code == "success"){
                                reloadGrid($("#jqGrid").getGridParam('page'));//重新加载表格
                                Dialog.close( delDialog );
                                window.parent.success(res.msg);//操作成功提示
                            }else{
                                Dialog.close( delDialog );
                                window.parent.danger(res.code,res.msg);//操作失败提示
                            }
                        },
                        error: function(xhr, textStatus) {
                            window.parent.danger(xhr.status,"error");//操作失败提示
                        }
                    });
                }
            }
        });
    })

    /** 功能描述: 启用|停用
     * @param null
     * @return:
     * @Author: lj
     * @Date: 2019/10/21 11:00
     */
    $('#updateIsUse').click(function() {
        var rowId = $("#jqGrid").jqGrid("getGridParam","selrow");
        if(rowId == null){
            layer.msg('请选择设置的管理员');
            return false;
        }
        var rowData = $("#jqGrid").jqGrid("getRowData",rowId);
        var delDialog = Dialog({
            title: "询问",
            content: "您确认要 【"+(rowData.isUse == 0 ? "停用" :"启用") +"】 吗？",
            ok: {
                waiting: true,
                waitingText: "设置中",
                callback: function () {
                    $.ajax({
                        type: 'post',
                        async: true,
                        url: "[[@{/system/administrator/updateAdministratorIsUse}]]",
                        data:{
                            "userId":rowData.userId,
                            "isUse":rowData.isUse == 0 ?  1 : 0
                        },
                        dataType: "json",
                        timeout: 8000,
                        beforeSend: function() {

                        },
                        complete: function(XMLHttpRequest, status) {
                        },
                        success: function(res) {
                            if(res.code == "success"){
                                reloadGrid($("#jqGrid").getGridParam('page'));//重新加载表格
                                Dialog.close( delDialog );
                                window.parent.success(res.msg);//操作成功提示
                            }else{
                                Dialog.close( delDialog );
                                window.parent.danger(res.msg);//操作失败提示
                            }
                        },
                        error: function(xhr, textStatus) {
                            window.parent.danger(xhr.status,"error");//操作失败提示
                        }
                    });
                }
            }
        });
    })

    /** 功能描述: 跳转到赋权限
     * @param null
    * @return:
    * @Author: lj
    * @Date: 2019/10/24 15:07
    */
    $('#assignmentRrght').click(function() {
        var rowId = $("#jqGrid").jqGrid("getGridParam","selrow");
        if(rowId == null){
            layer.msg('请选择设置的管理员');
            return false;
        }
        var rowData = $("#jqGrid").jqGrid("getRowData",rowId);
        var updateDialog = Dialog({
            title: "赋权限",
            width: 800,
            iframeContent: {
                id: "update-right-iframe",
                src: "[[@{/system/administrators/skipPageToRightTree}]]?userId="+rowData.userId,
                height: $(window).height()-220
            },
            showButton: true,
            ok: {
                notClose: true,
                callback: function () {
                    dialog_LoadingBtn();//确定按钮置为loading
                    setTimeout(function(){
                        var rtnVal = $("#update-right-iframe")[0].contentWindow.submitForm(); // 提交表单
                        if(rtnVal.code != "success" ){
                            window.parent.danger(rtnVal.code, rtnVal.msg);//操作失败提示
                        }else{
                            //业务处理
                            reloadGrid($("#jqGrid").getGridParam('page'));//重新加载表格
                            Dialog.close(updateDialog);
                            window.parent.success(rtnVal.msg);//操作成功提示
                        }
                    }, 300);
                }
            }
        });
    })

    /** 功能描述: 初始化密码
     * @param null
     * @return:
     * @Author: lj
     * @Date: 2019/11/1 9:49
     */
    $('#initPwd').click(function() {
        var rowId = $("#jqGrid").jqGrid("getGridParam","selrow");
        if(rowId == null){
            layer.msg('请选择设置的用户');
            return false;
        }
        var rowData = $("#jqGrid").jqGrid("getRowData",rowId);
        if(rowData.isAdmin == 0){
            layer.msg('企业管理员不允许设置');
            return false;
        }
        var delDialog = Dialog({
            title: "询问",
            content: "您确认要初始化【"+rowData.loginName+"】 的密码吗？",
            ok: {
                waiting: true,
                waitingText: "初始化中",
                callback: function () {
                    $.ajax({
                        type: 'post',
                        async: true,
                        url: "[[@{/system/user/initUserPassword}]]",
                        data:{
                            "userId":rowData.userId
                        },
                        dataType: "json",
                        timeout: 8000,
                        beforeSend: function() {

                        },
                        complete: function(XMLHttpRequest, status) {
                        },
                        success: function(res) {
                            if(res.code == "success"){
                                Dialog.close( delDialog );
                                window.parent.success(res.msg);//操作成功提示
                            }else{
                                Dialog.close( delDialog );
                                window.parent.danger(res.msg);//操作失败提示
                            }
                        },
                        error: function(xhr, textStatus) {
                            window.parent.danger(xhr.status,"error");//操作失败提示
                        }
                    });
                }
            }
        });
    })

    /*
    重新加载表格
     */
    function reloadGrid(page){
        $("#jqGrid").jqGrid("setGridParam", {
            postData: {},
            page : page
        }).trigger("reloadGrid");
    }

</script>

</html>