<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改企业</title>

    <link rel="stylesheet" type="text/css"  th:href= "@{/css/admin.css}" />
    <link rel="stylesheet" type="text/css"  th:href= "@{/jqGrid/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css"  th:href= "@{/css/loading.css}">
    <link rel="stylesheet" type="text/css"  th:href= "@{/layui/css/layui.css}" />
    <link rel="stylesheet" type="text/css" th:href= "@{/validform/validform.css}" />


    <script type="text/javascript" th:src="@{/js/jquery-1.11.1.js}" ></script>
    <script type="text/javascript" th:src="@{/layui/layui.js}" ></script>
    <script type="text/javascript" th:src="@{/js/request-param.js}"></script>
    <script type="text/javascript" th:src="@{/validform/validform_v5.3.2.js}"></script>
</head>
<body>
<div class="containerPen">
    <div class="loading">
        <div class="slice">
            <div data-loader="circle-side"></div>
        </div>
    </div>
</div>
<div class="layui-fluid larry-wrapper form-margin" >
    <div class="layui-row layui-col-space30">
        <div class="layui-col-xs24">
            <section class="panel panel-padding">
                <form id="form_enterprise" class="layui-form cus-form" action="" >
                    <div class="layui-form-item">
                        <label class="layui-form-label"><span class="required">*</span>企业名称</label>
                        <div class="layui-input-block" style="position: relative;">
                            <input type="text" name="enterpriseName" th:value="${enterprise.enterpriseName}"   datatype="*" nullmsg="请输入企业名称" placeholder="" autocomplete="off" maxlength="30" class="layui-input form-required">
                            <div style="position: absolute;top:5px;right:6px">
                                <div class="Validform_checktip"></div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label"><span class="required">*</span>英文简称</label>
                        <div class="layui-input-block" style="position: relative;">
                            <input type="text" name="enterpriseEnglishName" th:value="${enterprise.enterpriseEnglishName}"  datatype="letter" errormsg="请输入字母" nullmsg="请输入企业英文简称" placeholder="" autocomplete="off" maxlength="30" class="layui-input form-required">
                            <div style="position: absolute;top:5px;right:6px">
                                <div class="Validform_checktip"></div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">企业地址</label>
                        <div class="layui-input-block">
                            <input type="text" name="enterpriseAddr" th:value="${enterprise.enterpriseAddr}"  placeholder="" autocomplete="off" maxlength="25" class="layui-input ">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">注册时间</label>
                        <div class="layui-input-block">
                            <input type="text" id="enterpriseRegDate"  name="enterpriseRegDate"  th:value="${enterprise.enterpriseRegDate}" placeholder="" autocomplete="off" maxlength="30" readonly="readonly" class="layui-input ">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">截至时间</label>
                        <div class="layui-input-block">
                            <input type="text" id="enterpriseEndDate" name="enterpriseEndDate" th:value="${enterprise.enterpriseEndDate}" placeholder="" autocomplete="off" maxlength="30" readonly="readonly" class="layui-input ">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">联系人</label>
                        <div class="layui-input-block">
                            <input type="text" name="enterpriseLinkMen" th:value="${enterprise.enterpriseLinkMen}"  placeholder="" autocomplete="off" maxlength="20" class="layui-input ">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">联系电话</label>
                        <div class="layui-input-block">
                            <input type="text" name="enterpriseTel" th:value="${enterprise.enterpriseTel}"  placeholder="" autocomplete="off" maxlength="30" class="layui-input ">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">企业logo</label>
                        <div class="layui-input-block">
                            <div class="layui-upload-drag" id="logo" style="width:550px">
                                <p style="margin-bottom: 20px">点击上传，或将文件拖拽到此处</p>
                                <div>
                                    <th:block th:if="${enterprise.enterpriseLogo !='' && enterprise.enterpriseLogo != null}">
                                    <div id="a_remove" th:onshow="${enterprise.enterpriseLogo !='' && enterprise.enterpriseLogo != null}" style="text-align:right;width:500px;margin:0 auto;">
                                        <a  href="javascript:;" onclick="removeLogo(event)">移除</a>
                                    </div>
                                    </th:block>
                                    <img id="img_logo" th:src="${enterprise.enterpriseLogo=='' || enterprise.enterpriseLogo == null}?@{/images/upload.png}:${enterprise.enterpriseLogo}"  style="width: 500px; height: 130px">
                                </div>
                            </div>
                            <input type="hidden" id="txt_logo" name="enterpriseLogo" th:value="${enterprise.enterpriseLogo}">
                        </div>
                    </div>
                    <input type="hidden" name="enterpriseId" th:value="${enterprise.enterpriseId}">
                </form>
            </section>
        </div>
    </div>
</div>
</body>

<script>
    var validform = null;//表单验证对象

    $(window).load(function() {
        $('.containerPen').hide();
    });
    $(function() {
        //初始化表单验证
        validform = $(".layui-form").Validform({
            tiptype:2
        });
    });

    layui.use(['jquery','form','laydate','upload'], function() {
        var $ = layui.jquery,
            upload = layui.upload,
            form = layui.form;
        laydate = layui.laydate;
        laydate.render({
            elem: '#enterpriseRegDate'
        });
        laydate.render({
            elem: '#enterpriseEndDate'
        });
        //拖拽上传
        upload.render({
            elem: '#logo',
            auto: false,
            accept:'images',
            acceptMime:'image/*',
            exts: 'jpg|png|jpeg',
            size: 500,
            choose: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    //file.name获取文件名，result就是base64
                    $('#img_logo').attr('src', result); //图片链接（base64）不支持ie8
                    if ( $("#a_remove").length == 0 ) {
                       var div = '<div id="a_remove"  style="text-align:right;width:500px;margin:0 auto;">';
                       div += '<a  href="javascript:;" onclick="removeLogo(event)">移除</a>';
                       div += '</div>';
                       $("#img_logo").before(div);
                    }else{
                        $("#a_remove").show();
                    }
                    $('#txt_logo').val(result);
                });
            }
        })
    });

    /** 功能描述: 移除Logo
     * @param null
    * @return:
    * @Author: lj
    * @Date: 2019/10/30 10:53
    */
    function removeLogo(event){
        event.stopPropagation();
        $("#a_remove").hide();
        $("#img_logo").attr("src","[[@{/images/upload.png}]]");
        $("#txt_logo").val("");
    }

    /**
     ** 表单元素验证
     **/
    function valid(){
        //是给予提示
        if(validform.check(false)){
            return true;
        }else{
            return false;
        }
    }

    /**
     ** 提交表单
     **/
    function submitForm(){
        var rtnVal = null;
        var enterpriseId = $("#form_enterprise input[name=enterpriseId]").val();//企业ID
        var enterpriseName = $("#form_enterprise input[name=enterpriseName]").val();//企业名称
        var enterpriseAddr = $("#form_enterprise input[name=enterpriseAddr]").val();//企业地址
        var enterpriseLinkMen = $("#form_enterprise input[name=enterpriseLinkMen]").val();//联系人
        var enterpriseTel = $("#form_enterprise input[name=enterpriseTel]").val();//联系电话
        var enterpriseRegDate = $("#form_enterprise input[name=enterpriseRegDate]").val();//注册时间
        var enterpriseEndDate = $("#form_enterprise input[name=enterpriseEndDate]").val();//截至时间
        var enterpriseEnglishName = $("#form_enterprise input[name=enterpriseEnglishName]").val();//企业英文简称
        var enterpriseLogo = $("#form_enterprise input[name=enterpriseLogo]").val();// 企业logo
        $.ajax({
            type: 'post',
            async: false,
            url: "[[@{/system/enterprise/updateEnterprise}]]",
            data:{
                "enterpriseId":enterpriseId,
                "enterpriseName":enterpriseName,
                "enterpriseEnglishName":enterpriseEnglishName,
                "enterpriseAddr":enterpriseAddr,
                "enterpriseLinkMen":enterpriseLinkMen,
                "enterpriseTel":enterpriseTel,
                "enterpriseRegDate":enterpriseRegDate,
                "enterpriseEndDate":enterpriseEndDate,
                "enterpriseLogo":enterpriseLogo
            },
            dataType: "json",
            timeout: 8000,
            beforeSend: function() {
            },
            complete: function(XMLHttpRequest, status) {
            },
            success: function(res) {
                rtnVal = res;
            },
            error: function(xhr, textStatus) {
                rtnVal = JSON.parse('{"code":'+xhr.status+', "msg":"服务器错误"}');
            }
        });
        return rtnVal;
    };
</script>

</html>