<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>角色</title>
    <link rel="stylesheet" type="text/css" th:href= "@{/layui/css/layui.css}"  />
    <link rel="stylesheet" type="text/css" th:href= "@{/css/admin.css}" />
    <link rel="stylesheet" type="text/css" th:href= "@{/jqGrid/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href= "@{/jqGrid/css/ui.jqgrid-bootstrap.css}" />
    <link rel="stylesheet" type="text/css"  th:href= "@{/css/loading.css}" >
    <link rel="stylesheet" type="text/css"  th:href= "@{/css/iconfont.css}" >

    <script type="text/javascript" th:src="@{/js/jquery-1.11.1.js}"></script>
    <script type="text/javascript" th:src="@{/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
    <script type="text/javascript" th:src="@{/jqGrid/js/i18n/grid.locale-cn.js}"  ></script>
    <script type="text/javascript" th:src="@{/jqGrid/js/jquery.jqGrid.min.js}" ></script>
    <script type="text/javascript" th:src="@{/js/div-resize.js}"></script>
    <script type="text/javascript" th:src="@{/miniDialog/MiniDialog.js}"></script>
    <script type="text/javascript" th:src="@{/jqGrid/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="containerPen">
    <div class="loading">
        <div class="slice">
            <div data-loader="circle-side"></div>
        </div>
    </div>
</div>
<div class="jsplite_main_right">
    <div class="page-content-wrap">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <div style="float: left;">
                    <div class="layui-inline tool-btn">
                        <div class="btn-group" role="group" aria-label="...">
                            <button id="addRole" type="button" class="btn btn-default"><i class="layui-icon">&#xe654;</i><span class="cus-buttongroup-fontsize">新增</span></button>
                            <button id="updateRole" type="button" class="btn btn-default"><i class="layui-icon">&#xe642;</i><span class="cus-buttongroup-fontsize">修改</span></button>
                            <button id="deleteRole" type="button" class="btn btn-default"><i class="layui-icon">&#xe640;</i><span class="cus-buttongroup-fontsize">删除</span></button>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button id="assignmentRrght" type="button" class="opt-button">
                            <i class="iconfont icon-shouquan"></i><span class="cus-buttongroup-fontsize">权限</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <div class="layui-form" id="table-list">
            <table id="jqGrid"></table>
            <div id="jqGridPager"></div>
        </div>
    </div>
    <div id="cd-shadow-layer"></div>
</div>
</body>

<script>
    $(window).load(function() {
        $('.containerPen').hide();
    });

    //监听div大小变化事件，自适应屏幕宽度
    $(".jsplite_main_right").resize(function() {
        $("#jqGrid").setGridWidth($(".jsplite_main_right").width() - 30);
        $("#jqGrid").setGridHeight($(window).height() - 180);
    });

    $(document).ready(function() {
        //初始化表格
        $("#jqGrid").jqGrid({
            url: '[[@{/system/role/getRole}]]',
            mtype: "POST",
            styleUI: 'Bootstrap',
            datatype: "json",
            colModel: [{
                label: '角色ID',
                name: 'roleId',
                key: true,
                width: 75,
                hidden:true
            },
                {
                    label: '角色名称',
                    name: 'roleName',
                    width: 80
                },
                {
                    label: '是否企业管理员',
                    name: 'isAdminRole',
                    width: 50,
                    align: 'center',
                    formatter: formatIsAdminRole
                },
                {
                    label: '所属企业',
                    name: 'enterprise.enterpriseName',
                    width: 170
                },
                {
                    label: '角色描述',
                    name: 'description',
                    width: 100
                },
                {
                    label: '创建时间',
                    name: 'createTime',
                    width: 50
                },
                {
                    label: '是否企业管理员',
                    name: 'isAdminRole',
                    hidden:true
                }
            ],
            altRows: true,//隔行换色
            viewrecords: true,
            shrinkToFit: true, //宽度自适应
            height: $(window).height() - 180,
            width: $(window).width() * 0.98 - 320,
            rowNum:15,
            pager: "#jqGridPager",
            pagerpos: 'left',
            recordpos: 'right'
        });
    });

    /** 功能描述: 格式化是否企业管理员
     * @param null
    * @return:
    * @Author: lj
    * @Date: 2019/10/25 17:04
    */
    function formatIsAdminRole(cellValue, grid, rows, state) {
        if(cellValue == 0){
            return "<i class=\"layui-icon\" style='color: #ff7800'>&#xe66f;</i>";
        }else{
            return "";
        }
    }

    /** 功能描述: 重新加载表格
     * @param null
     * @return:
     * @Author: lj
     * @Date: 2019/10/25 15:36
     */
    function reloadGrid(page){
        $("#jqGrid").jqGrid("setGridParam", {
            postData: {},
            page : page
        }).trigger("reloadGrid");
    }

    /**
     新增角色
     **/
    $('#addRole').click(function() {
        var addDialog = Dialog({
            title: "新增",
            width: 800,
            iframeContent: {
                id: "add-role-iframe",
                src: "[[@{/system/role/skipPageToAddRole}]]",
                height: $(window).height()-220
            },
            showButton: true,
            ok: {
                notClose: true,
                callback: function () {
                    if($("#add-role-iframe")[0].contentWindow.valid()){ //表单元素验证通过
                        dialog_LoadingBtn();//确定按钮置为loading
                        setTimeout(function(){
                            var rtnVal = $("#add-role-iframe")[0].contentWindow.submitForm(); //提交表单
                            if(rtnVal.code != "success" ){
                                dialog_ResetBtn();//取消loading,重置确定按钮
                                window.parent.danger(rtnVal.code, rtnVal.msg);//操作失败提示
                            }else{
                                //业务处理
                                reloadGrid(1);//重新加载表格
                                dialog_ResetBtn();//取消loading,重置确定按钮
                                Dialog.close( addDialog );
                                window.parent.success(rtnVal.msg);//操作成功提示
                            }
                        }, 300);
                    }
                }
            }
        });
    })

    /**
     修改角色
     **/
    $('#updateRole').click(function() {
        var rowId = $("#jqGrid").jqGrid("getGridParam","selrow");
        if(rowId == null){
            layer.msg('请选择修改的角色');
            return false;
        }
        var rowData = $("#jqGrid").jqGrid("getRowData",rowId);
        if(rowData.isAdminRole == 0){
            layer.msg('企业管理员不允许修改');
            return false;
        }
        var updateDialog = Dialog({
            title: "修改",
            width: 800,
            iframeContent: {
                id: "update-role-iframe",
                src: "[[@{/system/role/skipPageToUpdateRole}]]?roleId="+rowData.roleId,
                height: $(window).height()-220
            },
            showButton: true,
            ok: {
                notClose: true,
                callback: function () {
                    if($("#update-role-iframe")[0].contentWindow.valid()){ // 表单元素验证通过
                        dialog_LoadingBtn();//确定按钮置为loading
                        setTimeout(function(){
                            var rtnVal = $("#update-role-iframe")[0].contentWindow.submitForm(); // 提交表单
                            if(rtnVal.code != "success" ){
                                window.parent.danger(rtnVal.code, rtnVal.msg);//操作失败提示
                            }else{
                                //业务处理
                                reloadGrid($("#jqGrid").getGridParam('page'));//重新加载表格
                                Dialog.close(updateDialog);
                                window.parent.success(rtnVal.msg);//操作成功提示
                            }
                        }, 300);
                    }
                }
            }
        });
    })
    
    /** 功能描述: 删除角色
     * @param null
    * @return:
    * @Author: lj
    * @Date: 2019/10/25 16:45
    */
    $('#deleteRole').click(function() {
        var rowId = $("#jqGrid").jqGrid("getGridParam","selrow");
        if(rowId == null){
            layer.msg('请选择删除的角色');
            return false;
        }
        var rowData = $("#jqGrid").jqGrid("getRowData",rowId);
        if(rowData.isAdminRole == 0){
            layer.msg('企业管理员不允许删除');
            return false;
        }
        var delDialog = Dialog({
            title: "询问",
            content: "您确认要删除 【"+rowData.roleName+"】 吗？",
            ok: {
                waiting: true,
                waitingText: "删除中",
                callback: function () {
                    $.ajax({
                        type: 'post',
                        async: true,
                        url: "[[@{/system/role/deleteRole}]]",
                        data:{
                            "roleId":rowData.roleId
                        },
                        dataType: "json",
                        timeout: 8000,
                        beforeSend: function() {

                        },
                        complete: function(XMLHttpRequest, status) {
                        },
                        success: function(res) {
                            if(res.code == "success"){
                                reloadGrid($("#jqGrid").getGridParam('page'));//重新加载表格
                                Dialog.close( delDialog );
                                window.parent.success(res.msg);//操作成功提示
                            }else{
                                Dialog.close( delDialog );
                                window.parent.danger(res.code,res.msg);//操作失败提示
                            }
                        },
                        error: function(xhr, textStatus) {
                            window.parent.danger(xhr.status,"error");//操作失败提示
                        }
                    });
                }
            }
        });
    })

    /** 功能描述: 跳转到赋权限
     * @param null
     * @return:
     * @Author: lj
     * @Date: 2019/10/24 15:07
     */
    $('#assignmentRrght').click(function() {
        var rowId = $("#jqGrid").jqGrid("getGridParam","selrow");
        if(rowId == null){
            layer.msg('请选择设置的用户');
            return false;
        }
        var rowData = $("#jqGrid").jqGrid("getRowData",rowId);
        if(rowData.isAdminRole == 0){
            layer.msg('企业管理员不允许设置');
            return false;
        }
        var updateDialog = Dialog({
            title: "赋权限",
            width: 800,
            iframeContent: {
                id: "update-right-iframe",
                src: "[[@{/system/role/skipPageToRoleRightTree}]]?roleId="+rowData.roleId,
                height: $(window).height()-220
            },
            showButton: true,
            ok: {
                notClose: true,
                callback: function () {
                    dialog_LoadingBtn();//确定按钮置为loading
                    setTimeout(function(){
                        var rtnVal = $("#update-right-iframe")[0].contentWindow.submitForm(); // 提交表单
                        if(rtnVal.code != "success" ){
                            window.parent.danger(rtnVal.code, rtnVal.msg);//操作失败提示
                        }else{
                            //业务处理
                            reloadGrid($("#jqGrid").getGridParam('page'));//重新加载表格
                            Dialog.close(updateDialog);
                            window.parent.success(rtnVal.msg);//操作成功提示
                        }
                    }, 300);
                }
            }
        });
    })


</script>

</html>