<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新增角色</title>

    <link rel="stylesheet" type="text/css"  th:href= "@{/css/admin.css}" />
    <link rel="stylesheet" type="text/css"  th:href= "@{/jqGrid/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css"  th:href= "@{/css/loading.css}">
    <link rel="stylesheet" type="text/css"  th:href= "@{/layui/css/layui.css}" />
    <link rel="stylesheet" type="text/css" th:href= "@{/validform/validform.css}" />
    <link rel="stylesheet" type="text/css" th:href= "@{/layui/extend/formSelects-v4.css}" />


    <script type="text/javascript" th:src="@{/js/jquery-1.11.1.js}" ></script>
    <script type="text/javascript" th:src="@{/layui/layui.js}" ></script>
    <script type="text/javascript" th:src="@{/js/request-param.js}"></script>
    <script type="text/javascript" th:src="@{/validform/validform_v5.3.2.js}"></script>
    <script type="text/javascript" th:src="@{/layui/extend/formSelects-v4.js}"></script>

</head>
<body>
<div class="containerPen">
    <div class="loading">
        <div class="slice">
            <div data-loader="circle-side"></div>
        </div>
    </div>
</div>
<div class="layui-fluid larry-wrapper form-margin" >
    <div class="layui-row layui-col-space30">
        <div class="layui-col-xs24">
            <section class="panel panel-padding">

                <form id="form_user" class="layui-form cus-form" action="" >
                    <div class="alert alert-danger" role="alert" style="margin-left:20px">提示：登录账号请使用手机号码注册，否则有可能出现账号已被注册的情况！</div>
                    <div class="layui-form-item">
                        <label class="layui-form-label"><span class="required">*</span>登录账号</label>
                        <div class="layui-input-block" style="position: relative;">
                            <input type="text" name="loginName"  datatype="*" nullmsg="请输入登录账号" placeholder="" autocomplete="off" maxlength="30" class="layui-input form-required">
                            <div style="position: absolute;top:5px;right:6px">
                                <div class="Validform_checktip"></div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">用户姓名</label>
                        <div class="layui-input-block" style="position: relative;">
                            <input type="text" name="userName"  placeholder="" autocomplete="off" maxlength="30" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">手机号</label>
                        <div class="layui-input-block" style="position: relative;">
                            <input type="text" name="mobile"  placeholder="" autocomplete="off" maxlength="30" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">电子邮箱</label>
                        <div class="layui-input-block" style="position: relative;">
                            <input type="text" name="email"  placeholder="" autocomplete="off" maxlength="50" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">角色</label>
                        <div class="layui-input-block">
                            <select name="roleIds" xm-select="role"   xm-select-skin="normal">
                            </select>

                        </div>
                    </div>

                </form>
            </section>
        </div>
    </div>
</div>
</body>

<script>
    var validform = null;//表单验证对象

    $(window).load(function() {
        $('.containerPen').hide();
    });
    $(function() {
        //初始化表单验证
        validform = $(".layui-form").Validform({
            tiptype:2
        });
    });

    var formSelects = layui.formSelects;

    layui.use(['jquery','form','laydate'], function() {
        var $ = layui.jquery,
            form = layui.form;
    });

    //获取角色
    formSelects.config('role', {
        type: 'post',
        searchUrl: '[[@{/system/role/getRoleAll}]]',
        keyName: 'roleName',
        keyVal: 'roleId'

    })

    /**
     ** 表单元素验证
     **/
    function valid(){
        //是给予提示
        if(validform.check(false)){
            return true;
        }else{
            return false;
        }
    }



    function submitForm(){
        var rtnVal = null;
        var loginName = $("#form_user input[name=loginName]").val();// 登录账号
        var userName = $("#form_user input[name=userName]").val();// 用户姓名
        var mobile = $("#form_user input[name=mobile]").val();// 手机号
        var email = $("#form_user input[name=email]").val();// 电子邮箱
        var roleIds = $("#form_user input[name=roleIds]").val();// 角色

        $.ajax({
            type: 'post',
            async: false,
            url: "[[@{/system/user/addUser}]]",
            data:{
                "loginName":loginName,
                "userName":userName,
                "mobile":mobile,
                "email":email,
                "roleIds":roleIds
            },
            dataType: "json",
            timeout: 8000,
            beforeSend: function() {
            },
            complete: function(XMLHttpRequest, status) {
            },
            success: function(res) {
                console.info("res="+res);
                rtnVal = res;
            },
            error: function(xhr, textStatus) {
                rtnVal = JSON.parse('{"code":'+xhr.status+', "msg":"服务器错误"}');
            }
        });
        return rtnVal;
    };
</script>

</html>